/HttpClientSingleton.java
/HttpHeaders.java
/HttpMediaType.java
/HttpStatus.java
/InputStreamRequestBody.java
/NameValue.java
/RequestBuilder.java
/ResponseConverter.java
/ServiceCall.java
/ServiceCallback.java
/WatsonCookieJar.java
/package-info.java
