/CreateModelOptions.java
/DeleteModelOptions.java
/GetModelOptions.java
/IdentifiableLanguage.java
/IdentifiableLanguages.java
/IdentifiedLanguage.java
/IdentifiedLanguages.java
/IdentifyOptions.java
/ListIdentifiableLanguagesOptions.java
/ListModelsOptions.java
/TranslateOptions.java
/Translation.java
/TranslationModel.java
/TranslationModels.java
/TranslationResult.java
