/AnalysisResults.java
/AnalyzeOptions.java
/Author.java
/CategoriesOptions.java
/CategoriesResult.java
/ConceptsOptions.java
/ConceptsResult.java
/DeleteModelOptions.java
/DisambiguationResult.java
/DocumentEmotionResults.java
/DocumentSentimentResults.java
/EmotionOptions.java
/EmotionResult.java
/EmotionScores.java
/EntitiesOptions.java
/EntitiesResult.java
/EntityMention.java
/FeatureSentimentResults.java
/Features.java
/Feed.java
/KeywordsOptions.java
/KeywordsResult.java
/ListModelsOptions.java
/ListModelsResults.java
/MetadataOptions.java
/MetadataResult.java
/Model.java
/RelationArgument.java
/RelationEntity.java
/RelationsOptions.java
/RelationsResult.java
/SemanticRolesAction.java
/SemanticRolesEntity.java
/SemanticRolesKeyword.java
/SemanticRolesObject.java
/SemanticRolesOptions.java
/SemanticRolesResult.java
/SemanticRolesSubject.java
/SemanticRolesVerb.java
/SentimentOptions.java
/SentimentResult.java
/TargetedEmotionResults.java
/TargetedSentimentResults.java
/Usage.java
