/acoustic-model.json
/acoustic-models.json
/audio-resource.json
/audio-resources.json
/cap047.wav
/corpora.json
/corpus-text.txt
/corpus1.txt
/customization.json
/customizations.json
/diarization.json
/job.json
/jobs.json
/recognition-results.json
/recognition.json
/register-status.json
/sample-wav-archive.zip
/sample1.wav
/sample1.webm
/sound-with-pause.wav
/speech-model.json
/speech-models.json
/twospeakers.wav
/word.json
/words.json
