/DocumentAnalysis.java
/SentenceAnalysis.java
/ToneAnalysis.java
/ToneCategory.java
/ToneChatOptions.java
/ToneChatScore.java
/ToneInput.java
/ToneOptions.java
/ToneScore.java
/Utterance.java
/UtteranceAnalyses.java
/UtteranceAnalysis.java
