/baseball_positive.zip
/car.png
/car_positive.zip
/collection.json
/detected_faces.json
/detected_text.json
/eiffel-tower.jpg
/faces.zip
/image.json
/negative.zip
/open.png
/positive.zip
/test.zip
/visual_classification.json
/visual_classifier.json
